name: Hello Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World
        id: hello-world
        run: |
          hello_world = "Hello World!!!"
          echo "value=${hello_world}" >> $GITHUB_OUTPUT
          echo $hello_world
      - name: Comment on PR
        if: ${{github.event_name == 'pull_request'}}
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{github.event.pull-request.number}}
          body: |
            ${{steps.hello-world.output.value}}

